dj-database-url==0.4.2
Django==1.11.1
gunicorn==19.7.1
psycopg2==2.7.3.2
whitenoise==3.3.1
git+git://github.com/ojarva/django-googleauth.git@42f9cd8d3a5aee5b032d536ed213fcc0f72fb49a
django-sslify==0.2.7
django-tables2==1.16.0
requests==2.18.4
pytz==2017.3
django-filter==1.1.0
python-dateutil==2.6.1
slacker==0.9.60
beautifulsoup4==4.6.0
