dj-database-url==0.4.1
Django==1.11
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2
git+git://github.com/ojarva/django-googleauth.git@3be1c16b1ee5bc536097b133698fd0d0d9ddaf9e
django-sslify==0.2.7
django-tables2==1.4.2
requests==2.9.1
pytz==2017.2
django-filter==1.0.2
python-dateutil==2.6.0
