{% load compress %}
{% load static %}
{% load tagmanager %}

<!doctype html>
<html>
<head>
    {% tag_manager_snippet %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#222">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <link rel="dns-prefetch" href="//app.luovu.com">
    <title>Receipt checking</title>

    {% compress css %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "django_tables2/bootstrap.css" %}" rel="stylesheet" />
    {% endcompress %}

    {% compress js %}
    <script src="{% static "js/jquery.3.2.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/turbolinks.js" %}"></script>
    {% endcompress %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    {% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url "frontpage" %}">Solinor Receipts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url "frontpage" %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "people_list_redirect" %}">People</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "stats" %}">Stats</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "all_receipts_redirect" %}">All rows</a></li>
        {% endif %}
        {% block navbar_items %}{% endblock %}
      </ul>

      {% if request.user.is_staff %}
      <ul class="navbar-nav pull-right">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navDropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navDropdownActions">
            <a class="dropdown-item" href="{% url 'import_html' %}">Import invoice</a>
            <a class="dropdown-item" href="{% url 'slack_notifications' %}">Slack notifications</a>
          </div>
        </li>
      </ul>
      {% endif %}

      <form method="get" action="{% url "search" %}" class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
  <div class="body-container">
    <div class="container">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
