{% extends "base.html" %}

{% load humanize %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">People</li>
</ol>


<h1>People</h1>

<table class="table table-striped">
  <tbody>
    {% for person in people %}
    <tr>
      <td>{{ person.email }}</td>
      {% for date in person.dates %}
      <td>{% if date %}<a href="{% url 'person' person.email date.year date.month %}">{{ date.year }}-{{ date.month }}</a>{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
