{% extends "base.html" %}

{% load humanize %}

{% block header %}
<style>
.matching-row {
  background-color: #daffda;
}
.non-matching-row {
  background-color: #ffdada;
}
</style>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">People</li>
</ol>


<h1>People</h1>

<table class="table">
  <tbody>
    {% for person in people %}
    <tr>
      <td>{{ person.email }}</td>
      {% for date in person.dates %}
      <td class="{% if date.date %}{% if date.match %}matching-row{% else %}non-matching-row{% endif %}{% endif %}">{% if date.date %}<a href="{% url 'person' person.email date.date.year date.date.month %}">{{ date.date.year }}-{{ date.date.month }} ({{ date.receipt_rows }} / {{ date.invoice_rows }})</a>{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
