{% extends "base.html" %}

{% load humanize %}
{% load encode_email %}

{% block title %}People - Solinor receipts{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">People</li>
</ol>


<h1>People</h1>

{% if months %}
<div class="row py-3">
  <div class="col-md-12">
    <div class="dropdown" style="display: inline-block">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Change month
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for previous_month in months %}
        <li><a href="{% url "people" previous_month.0.year previous_month.0.month %}">{{ previous_month.0|date:"Y-m" }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<table class="table table-hover table-responsive people-table">
  <thead>
    <tr>
      <th>Email</th>
      <th class="number-column">Receipts &euro;</th>
      <th class="number-column">Invoices &euro;</th>
      <th class="number-column">Receipts #</th>
      <th class="number-column">Invoices #</th>
      <th class="number-column">Empty descriptions</th>
      <th class="number-column">Cash &euro;</th>
      <th class="number-column">Cash #</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people %}
    {% if person.email and person.data %}
    <tr onclick="Turbolinks.visit('{% url 'person' person.email|encode_email today.year today.month %}'); return false" class="clickable-cell">
      <td><a href="{% url 'person' person.email|encode_email today.year today.month %}">{{ person.email }}</a></td>
      <td class="number-column {% if person.data.sum_match %}matching-row{% else %}non-matching-row{% endif %}">{% if person.data.receipts_sum %}{{ person.data.receipts_sum|floatformat:2 }}{% endif %}</td>
      <td class="number-column {% if person.data.sum_match %}matching-row{% else %}non-matching-row{% endif %}">{% if person.data.invoice_sum %}{{ person.data.invoice_sum|floatformat:2 }}{% endif %}</td>
      <td class="number-column {% if person.data.count_match %}matching-row{% else %}non-matching-row{% endif %}">{% if person.data.receipt_rows %}{{ person.data.receipt_rows }}{% endif %}</td>
      <td class="number-column {% if person.data.count_match %}matching-row{% else %}non-matching-row{% endif %}">{% if person.data.invoice_rows > 0 %}{{ person.data.invoice_rows }}{% endif %}</td>
      <td class="number-column {% if person.data.empty_descriptions > 0 %}non-matching-row{% endif %}">{{ person.data.empty_descriptions }}</td>
      <td class="number-column">{% if person.data.cash_purchase_sum > 0 %}{{ person.data.cash_purchase_sum }}{% endif %}</td>
      <td class="number-column">{% if person.data.cash_purchase_rows > 0 %}{{ person.data.cash_purchase_rows }}{% endif %}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>&Sigma;</th>
      <th class="number-column">{{ summary_row.receipts_sum }}</th>
      <th class="number-column">{{ summary_row.invoice_sum }}</th>
      <th class="number-column">{{ summary_row.receipts_count }}</th>
      <th class="number-column">{{ summary_row.invoice_count }}</th>
      <th></th>
      <th class="number-column">{{ summary_row.cash_purchase_sum }}</th>
      <th class="number-column">{{ summary_row.cash_purchase_count }}</th>
    </tr>
  </tfoot>
</table>
{% endblock %}
