{% extends "base.html" %}
{% load humanize %}

{% block header %}
<style>
.price {
  text-align: right;
}
.summary-row th {
  border-top-width: 3px !important;
}
.vertical-separator {
  border-left: 1px solid #ddd;
}
</style>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'people' %}">People</a></li>
  <li class="active">Person</li>
</ol>

<h2>{{ user_email }} - {{ year }}-{{ month }}</h2>

<div class="row" style="padding-bottom: 1em">
  <div class="col-md-12">
    <form method="post" action="{% url 'queue_update' %}" class="form-inline" style="display: inline-block">
      {% csrf_token %}
      <input type="hidden" name="user_email" value="{{ user_email }}">
      <input type="hidden" name="back" value="{{ request.get_full_path }}">
      <input type="hidden" name="start_date" value="{{ start_date }}">
      <input type="hidden" name="end_date" value="{{ end_date }}">
      <button role="submit" class="btn btn-info">Update data from Luovu</button>
    </form>
    {% if previous_months %}
    <div class="dropdown" style="display: inline-block">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Change month
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for previous_month in previous_months %}
        <li><a href="{% url "person" user_email previous_month.0.year previous_month.0.month %}">{{ previous_month.0 }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th class="vertical-separator">Invoice</th>
      <th></th>
      <th class="vertical-separator">Receipt</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for row in table %}
    <tr>
      <td>{{ row.0 }}</td>
      {% if row.1 %}
        <td class="vertical-separator">{{ row.1.description }}</td>
        <td class="price">{{ row.1.row_price }}&euro;{% if row.1.foreign_currency %} ({{ row.1.foreign_currency}} {{ row.1.foreign_currency_name}}){% endif %}</td>
      {% else %}
        <td class="vertical-separator"></td>
        <td></td>
      {% endif %}
      {% if row.2 %}
      <td class="vertical-separator"><a href="{% url 'receipt' row.2.luovu_id %}">{% if row.2.has_description %}{{ row.2.description }}{% else %}[no description]{% endif %}</a></td>
      <td class="price">{{ row.2.price }}&euro;</td>
      <td><a href="https://app.luovu.com/a/#i/{{ row.2.luovu_id }}">Luovu</td>
      {% else %}
      <td class="vertical-separator"></td>
      <td></td>
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="summary-row">
      <th></th>
      <th></th>
      <th class="price">{{ invoice_total }}&euro;</th>
      <th class="vertical-separator"></th>
      <th class="price">{{ receipts_total }}&euro;</th>
      <th></th>
    </tr>
  </tfoot>
</table>

{% endblock %}
