.body-container {
  padding-top: 5em;
}
h2 {
  padding-bottom: 1em;
  padding-top: 1em;
}
.number-column {
  text-align: right;
}
.form-inline .form-group {
  padding-right: 2em;
}
.nowrap-column {
  white-space: nowrap;
}
.strikethrough {
  text-decoration: line-through;
}

.people-table .matching-row {
  background-color: #daffda;
}
.people-table .non-matching-row {
  background-color: #ffdada;
}
.people-table a {
  text-decoration:none;
}
.people-table .clickable-cell {
  cursor: pointer;
}
.people-table .number-column {
  text-align: right;
}

.receipts-table .price {
  text-align: right;
}
.receipts-table .summary-row th {
  border-top-width: 3px !important;
}
.receipts-table .vertical-separator {
  border-left: 1px solid #ddd;
}
.receipts-table .matching-row {
  background-color: #f9fff9;
}
.receipts-table .non-matching-row {
  background-color: #fff5f5;
}
